// SVG Fallback
.svg-fallback {
    display: block;
    position: fixed;
    left: -100%;
    height: 0; width: 0;
    overflow: hidden;
}

// Height
.ht-100 {
    height: 100%;
}

// Word break
.break-word {
    word-break: break-all !important;
}

// Text
.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-muted {
    color: rgba(0,0,0,.4) !important;
}
