/* COLORS */

$colors : (
    //red: #db2828,
    //orange: #f2711c,
    //yellow: #fbbd08,
    //olive: #b5cc18,
    //green: #21ba45,
    //teal: #00b5ad,
    blue: #2185d0,
    //violet: #6435c9,
    //purple: #a333c8,
    //pink: #e03997,
    //brown: #a5673f,
    grey: #767676,
    //black: #1b1c1d,
    dark-grey: '#3A3A3A'
);

/* BREAK POINTS */

$breakpoints: (
    xs: 480px,
    sm: 723px,
    md: 933px,
    lg: 1127px
);

$breakpoint-xs: map-get($breakpoints, xs);

$breakpoint-sm: map-get($breakpoints, sm);

$breakpoint-md: map-get($breakpoints, md);

$breakpoint-lg: map-get($breakpoints, lg);

