/* COLORS */

/* BREAK POINTS */

/* Paddings and Margins */

.svg-fallback {
  display: block;
  position: fixed;
  left: -100%;
  height: 0;
  width: 0;
  overflow: hidden;
}

.ht-100 {
  height: 100%;
}

.break-word {
  word-break: break-all !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-muted {
  color: rgba(0, 0, 0, 0.4) !important;
}

.site-wrapper {
  position: relative;
}

.main-content {
  min-height: 100%;
  padding-bottom: 48px;
}

#qrcode img {
  margin: 0 auto;
  max-width: 175px;
  width: 100%;
}

.ui.dimmer .ui.loader:after {
  border-color: #2185d0 transparent transparent;
}

.product-list {
  height: auto;
  min-height: 70vh;
}

.product-list .item {
  display: block !important;
}

.product-carousel {
  margin-bottom: 30px;
}

.product-carousel .product-slide:not(:first-child) {
  display: none;
}

.product-carousel.slick-initialized .product-slide {
  display: block;
}

.payment-wrap {
  min-height: 70vh;
}

.footer {
  color: white;
  height: auto;
  margin-top: -48px;
  min-height: 48px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #2185d0;
}

.footer a.active {
  color: #2185d0;
}

.ui.stackable.grid > .row > .column.footer__center {
  padding: 0 !important;
  margin-bottom: 6px !important;
}

.ui.stackable.grid > .row > .column.footer__left {
  padding-bottom: 0 !important;
}

.ui.stackable.grid > .row > .column.footer__right {
  padding-top: 0 !important;
}

@media screen and (min-width: 933px) {
  .footer__left {
    text-align: left;
  }

  .footer__right {
    text-align: right;
  }
}

.color--blue {
  color: #2185d0 !important;
}

.color--grey {
  color: #767676 !important;
}

.color--dark-grey {
  color: #3A3A3A !important;
}

.bg--blue {
  background-color: #2185d0 !important;
}

.bg--grey {
  background-color: #767676 !important;
}

.bg--dark-grey {
  background-color: #3A3A3A !important;
}

.m-0 {
  margin: 0 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.m-h {
  margin: 0.5rem 0.5rem !important;
}

.mt-h {
  margin-top: 0.5rem !important;
}

.mr-h {
  margin-right: 0.5rem !important;
}

.mb-h {
  margin-bottom: 0.5rem !important;
}

.ml-h {
  margin-left: 0.5rem !important;
}

.m-1 {
  margin: 1rem 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.m-2 {
  margin: 1.5rem 1.5rem !important;
}

.mt-2 {
  margin-top: 1.5rem !important;
}

.mr-2 {
  margin-right: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 1.5rem !important;
}

.ml-2 {
  margin-left: 1.5rem !important;
}

.m-3 {
  margin: 3rem 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.m-4 {
  margin: 4rem 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.p-0 {
  padding: 0 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.p-h {
  padding: 0.5rem 0.5rem !important;
}

.pt-h {
  padding-top: 0.5rem !important;
}

.pr-h {
  padding-right: 0.5rem !important;
}

.pb-h {
  padding-bottom: 0.5rem !important;
}

.pl-h {
  padding-left: 0.5rem !important;
}

.p-1 {
  padding: 1rem 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.p-2 {
  padding: 1.5rem 1.5rem !important;
}

.pt-2 {
  padding-top: 1.5rem !important;
}

.pr-2 {
  padding-right: 1.5rem !important;
}

.pb-2 {
  padding-bottom: 1.5rem !important;
}

.pl-2 {
  padding-left: 1.5rem !important;
}

.p-3 {
  padding: 3rem 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.p-4 {
  padding: 4rem 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

