
.footer {

    color: white;
    height: auto;
    margin-top: -48px;
    min-height: 48px;
    
    a {
        color: white;
        &:hover {
            color: map-get($colors,blue);
        }

        &.active {
            color: map-get($colors,blue);
        }
    }
}

// Override semantic padding on mobile in center column
.ui.stackable.grid>.row>.column.footer__center {
    padding: 0 !important;
    margin-bottom: 6px !important;
}

// Remove bottom margin on mobile
.ui.stackable.grid>.row>.column.footer__left {
    padding-bottom: 0 !important;
}

.ui.stackable.grid>.row>.column.footer__right {
    padding-top: 0 !important;
}

// Align footer content to left and right on desktop
@include mq(md) {

    .footer__left {
        text-align: left;
    }

    .footer__right {
        text-align: right;
    }
}
