.product-list {
    height: auto;
    min-height: 70vh;

    .item {
        display: block !important;
    }
}

.product-carousel {

    margin-bottom: 30px;
    .product-slide:not(:first-child) {
        display: none;
    }

    &.slick-initialized .product-slide{
        display: block;
    }
}